<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Triggers</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <!-- <div hx-post="http://localhost:1330/messages"  hx-trigger="mouseleave"  >
        MAke Post Triggers
    </div> -->
    <input type="text" hx-post="http://localhost:1330/messages" hx-trigger="keyup changed delay:500ms" placeholder="Type something..."/>
    <div id="response"></div>
    
</body>
</html>